<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/users" method="post">
        <br>
        <br>
        {% if session['validEmail'] == 'False' %}
        <p><input type="text" value="Its invalid Email Address"></p>
        {% endif %}
        <br>
        <br>
        <p>Enter Email Address: <input type="text" name='email' id='email'></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>